<!-- ***** section des voitures ***** -->
<!-- #### il est liée au fichier css best-deals de la page d'accueil -->
<main>
  <div class="best-deals" style="background: none;">
    <!-- ** section des inputs des filtres ** -->
    <section class="filtres">
      <div class="filter-bar">
        <select id="car-model" name="car-model">
          <option value="">All Models</option>
          <option value="dacia">Dacia</option>
          <option value="renault">Renault</option>
          <option value="audi">Audi</option>
        </select>
      
        <input type="number" id="min-price" placeholder="Min Price">
        <input type="number" id="max-price" placeholder="Max Price">
        
        <button onclick="filterCars()">Apply</button>
      </div>
    </section>
    <!-- ** section des voitures ** -->
    <section class="cars-cards"></section>
  </div>
</main>


<!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
<!-- <script type="module" src="../../js/page_accueil/get_voitures.js"></script>
<script type="module" src="../../js/page_voitures/display_voitures.js"></script> -->