<div>
  <header>
    <!-- ***** Nav bar ***** -->
    <div id="navbar_container"></div>
  </header>

  <!-- ***** main section (text,button,image) ***** -->
  <section>
    <div class="contact-container">
      <div class="contact-form">
        <h2>Contacter nous</h2>
        <form>
          <div class="form-group">
            <input type="text" placeholder="Votre prénom ..." required />
            <input type="text" placeholder="Votre nom ..." required />
          </div>
          <div class="form-group">
            <input type="tel" placeholder="06 12 34 56 78 ..." required />
            <input type="email" placeholder="example@gmail.com ..." required />
          </div>
          <textarea placeholder="Votre message ici ..." required></textarea>
          <button type="submit">Envoyer</button>
        </form>
      </div>

      <div class="contact-info">
        <div class="contacts-info">
          <div class="info">
            <i class="fa-solid fa-envelope"></i>
            <span>bcgcarrental@business.com</span>
          </div>
          <div class="info">
            <i class="fa-solid fa-phone"></i>
            <span>0500255526</span>
          </div>
          <div class="info">
            <i class="fa-solid fa-mobile-screen"></i>
            <span>0615222666</span>
          </div>
          <div class="info">
            <i class="fa-brands fa-whatsapp"></i>
            <span>0615222666</span>
          </div>
          <div class="info">
            <i class="fa-solid fa-location-dot"></i>
            <span>Derb sultan, Rue N06, Marrakech</span>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>