<!-- ***** section des voitures ***** -->
<!-- #### il est liée au fichier css best-deals de la page d'accueil -->
<main>
  <div class="best-deals" style="background: none;">
    <!-- ** section des inputs des filtres ** -->
    <section class="filtres">
      <div>
        <label for="marque">Marque : </label>
        <input type="text" id="marque">
      </div>
      <div></div>
      <div></div>
    </section>
    <!-- ** section des voitures ** -->
    <section class="cars-cards"></section>
  </div>
</main>


<!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
<!-- <script type="module" src="../../js/page_accueil/get_voitures.js"></script>
<script type="module" src="../../js/page_voitures/display_voitures.js"></script> -->