.best-deals {
    margin-bottom: 20px;
    text-align: center;
    background: red;
    width: 76%;
    margin: auto;
}

/* ====== SECTION TITLE ====== */
.best-deals h2 {
    font-size: 25px;
    margin-bottom: 30px;
    color: white;
    font-weight: bold;
    display: contents;
}

/* ====== CONTAINER FOR ALL CAR CARDS ====== */
.best-deals .car-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* ====== EACH CAR CARD ====== */
.car-card {
    background: #000;
    border: 1px solid white;
    border-radius: 20px;
    width: 260px;
    height: max-content;
    padding: 20px;
    text-align: center;
    justify-content: center;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.3);
}


/* Car image styling */
.car-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* Headings and paragraph inside card */
.car-card h3 {
    font-family: 'Orbitron', sans-serif;
    font-size: 22px;
    /* Adjust as needed */
    font-weight: 700;
    /* Bold */
    text-transform: uppercase;
    color: white;
    text-align: start;
}

.car-card p {
    font-family: 'Orbitron', sans-serif;
    font-size: 14px;
    /* Adjust as needed */
    font-weight: 200;
    color: white;
    text-align: start;
}


/* ====== FEATURE ICONS (Seats, Diesel, Climatiseur) ====== */
.feature-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0 0 15px;
}

/* Icon images inside the list */
.feature-icons li img {
    width: 24px;
    /* Adjust as needed */
    height: auto;
}

.fa-whatsapp {
    color: #25d366;
    font-size: 30px;
}

.fa-whatsapp:hover {
    color: #128C7E;
}

/* ====== RESERVATION BUTTON AND ICON ====== */
.reserve-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* Reservation button style */
.reserve-section button {
    padding: 8px 16px;
    background: #fff;
    color: #000;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
}


.reserve-section button:hover {
    background: #444;
}

/* End de section de voitures recentes */