*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    background-color: black;
}

.Scontainer {
    background-image: url('../../images/main-bg.png');
    background-size: 100% 1215px;
    background-repeat: no-repeat;
    /* background-attachment: fixed ; */
}

.nav {
    position: relative;
    width: 100%;
    /* background-color: #000000; */
    height: 90px;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-bottom: 2px solid;
}

.nav .logo {
    height: 110%;
    width: max-content;
}
.nav .logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.nav .logo a img {
    height: 70%;
}

.nav .menu {
    width: 37%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav .menu li {
    list-style-type: none;
    font-family: "Orbitron",serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 1px;
}
.nav .menu li a {
    color: white;
    text-decoration: none;
}
.nav .menu li a i {
    font-size: 1rem;
    margin-left: 1px;
}

.nav .connexion_bars {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav .connexion_bars a {
    text-decoration: none;
    color: white;
    font-family: "Orbitron", serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.5px;
}
.nav .connexion_bars #connexion {
    margin-right: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav .connexion_bars #connexion i {
    margin-left: 10px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 6px;
    font-size: 0.7rem;
}
.nav .connexion_bars #bars {
    display: none;
}
.nav .connexion_bars #bars i {
    font-size: 1.6rem;
}

/****** Pour responsive ******/
@media (max-width:1268px) {
    .nav {
        padding: 0 2%;
    }

    .nav .logo a img {
        height: 50%;
    }
    
    .nav .menu {
        width: 100%;
        position: absolute;
        top: 90px;
        right: 0;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.95);
        overflow: hidden;
    }
    
    .nav #menu {
        transition: all 0.5s;
    }

    .nav .menu li {
        padding: 20px ;
        text-align: left;
        width: 100%;
    }


    .nav .connexion_bars #bars {
        display: block;
    }

    

}