*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

.nav {
    position: relative;
    width: 100%;
    background-color: #1E3E62;
    height: 90px;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.nav .logo {
    height: 100%;
    width: max-content;
}
.nav .logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.nav .logo a img {
    height: 70%;

}

.nav .menu {
    width: 37%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav .menu li {
    list-style-type: none;
    font-family: "Orbitron",serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 1px;
}
.nav .menu li a {
    color: white;
    text-decoration: none;
}
.nav .menu li a i {
    font-size: 1rem;
    margin-left: 1px;
}

.nav .connexion_bars {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav .connexion_bars a {
    text-decoration: none;
    color: white;
    font-family: "Orbitron", serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.5px;
}
.nav .connexion_bars #connexion {
    margin-right: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav .connexion_bars #connexion i {
    margin-left: 10px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: max-content;
    height: max-content;
    padding: 6px;
    font-size: 1rem;
}
.nav .connexion_bars #bars {
    display: none;
}
.nav .connexion_bars #bars i {
    font-size: 1.7rem;
}

/****** Pour responsive ******/
@media (max-width:1268px) {
    .nav {
        padding: 0 2%;
    }
    
    .nav .menu {
        width: 100%;
        position: absolute;
        top: 90px;
        right: 0;
        flex-direction: column;
        background-color: #1E3E62;
        overflow: hidden;
    }
    
    .nav #menu {
        transition: all 0.5s;
    }

    .nav .menu li {
        padding: 20px ;
        text-align: left;
        width: 100%;
    }


    .nav .connexion_bars #bars {
        display: block;
    }

}

@media (max-width:400px) {
    html {
        font-size: 12px;
    }
}
@media (max-width:600px) {
    html {
        font-size: 13.5px;
    }
}
@media (max-width:900px) {
    html {
        font-size: 14.2px;
    }
}
@media (max-width:1200px) {
    html {
        font-size: 15px;
    }
}

@media (max-width:1500px) {
    html {
        font-size: 15.5px;
    }
}
@media (min-width:1500px) {
    html {
        font-size: 16px;
    }
}