* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
}

body {
    scroll-behavior: smooth;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgb(0, 0, 0) 100%), url('../../images/main-bg.png');
    background-size: 100% 1215px;
    background-repeat: no-repeat;
    background-color: black; 
}

.filters .find-car {
    font-size: 2.8rem;
    text-align: center;
    margin: 40px 0 10px 0;
    font-weight: bold;
    color: white;
}

.filter-bar {
    display: flex;
    gap: 1rem;
    margin: 1px;
    align-items: center;
    flex-wrap: wrap;
}

.filter-bar select,
.filter-bar input {
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 10px;
    outline: none;
    border: none;
}
.filter-bar button {
    width: auto;
    height: auto;
    padding: 10px 30px;
    background: transparent;
    outline: none;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    border-radius: 30px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 12px 12px;
    transition: 0.3s;
}
.filter-bar button:hover {
    background: whitesmoke;
    color: black;
    box-shadow: 3px 2px 20px -5px rgb(255, 255, 255);
}
.filter-bar button:active {
    transform: translateY(1px);
    background: #d5d5d5;
}