* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
}

body {
    scroll-behavior: smooth;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgb(0, 0, 0) 100%), url('../../images/main-bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

main {
    padding: 20px;
    height: max-content;
}
.filter-bar {
    display: flex;
    gap: 1rem;
    margin: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.filter-bar select,
.filter-bar input {
    padding: 8px;
    font-size: 16px;
  }
.filter-bar button {
    padding: 8px 16px;
    font-weight: bold;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}