* {
    font-family: "Exo";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgb(0, 0, 0) 100%), url('../../images/main-bg.png');
    background-size: 100% 1215px;
    background-repeat: no-repeat;
    background-color: black;
}
.container {
    padding: 20px;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Segoe UI', sans-serif;
    font-size: 15px;

}
.ClassForm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: max-content;
    padding: 20px;
    padding-right: 0;
    background-color: rgba(128, 128, 128, 0.71);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    flex-wrap: wrap;
}
.ClassForm .SousForm form{
    width: 350px;
    margin-left: 20px;
}
.ClassForm .SousForm form input{
    height: 30px;
    margin: 10px auto;
    border-radius: 4px;
    border: none;
    width: 80%;
    transition: 0.3s;
    padding: 0 5px;
}
.ClassForm .SousForm form input:hover{
    background-color: rgba(255, 255, 255, 0.685);
}
.ClassForm .SousForm .text{
    margin-bottom: 40px;
    position: absolute;
    bottom: 220px;
}
.ClassForm .image{
    height: 300px;
    width: 400px;
    flex-shrink: 0;
}
.ClassForm .image .imageG{
    width: 100%;
    margin-top: 20px;
}

#password{
    transform: translateX(10px);
}

#email{
    transform: translateX(36px);
}

#envoyer{
    margin-left: 54px;
    margin-top: 20px;
    width: 63%;
    cursor: pointer;
    transition: 0.3s;
    background-color: white;
}
#envoyer:hover{
    background-color: black;
    color: white;
}
.ClassForm .SousForm{
    position: relative;
    margin-top: 60px;
}
.ClassForm .SousForm form a{
    margin-top: 20px;
    color: rgb(13, 43, 77);
}

.ClassForm .SousForm button{
    cursor: pointer;
    border: none;
    text-align: center;
    height: 30px;
    padding-left: 5px;
    padding-right: 3px;
    justify-content: center;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 73px;
    width: 60%;
    transition: 0.3s;
}
.HR{
    margin-top: 10px;
}
@media (max-width:1016px) {
    .ClassForm .image{
        height: 500px;
        width: 350px;
    }
    hr{
        width: 100%;
    }
    .ClassForm{
        display: flex;
        justify-content: center;
        width: 80%;
        height: 100%;
        padding-top: 40px;
    }
    .ClassForm .image .imageG{
        margin-top: 0;
    }
    .ClassForm .SousForm{
        margin-top: 10px;
        height: 200px;
    }
    .ClassForm .SousForm .text{
        margin-bottom: -25px;
    }
    .ClassForm .SousForm form input{
        height: 25px;
        width: 70%;
    }
    .ClassForm .SousForm button{
        height: 25px;
        width: 50%;
        margin-left: 87px;
    }
    #envoyer{
        margin-left: 68px;
        width: 53%;
    }
}

@media (max-width:673px) {
    .ClassForm .SousForm form input{
        width: 60%;
    }
    .ClassForm .SousForm button{
        width: 50%;
    }
    #envoyer{
        width: 53%;
    }

    hr{
        width: 60%;
        margin-left: 70px;
    }
    .ClassForm .SousForm .text{
        font-size: 14px;
    }
    .ClassForm{
        width: 100%;
    }
}

@media (max-width:403px){
    .ClassForm .SousForm form input{
        width: 50%;
    }
    .ClassForm .SousForm .text{
        margin-left: 30px;
    }
    *{
        font-size: 12px;
    }
    label{
        margin-left: 15px;
    }
    .ClassForm .SousForm form a{
        margin-left: 15px;
    }
    .ClassForm .image{
        width: 300px;
    }
    .ClassForm .SousForm button{
        width: 44%;
        margin-left: 100px;
    }
    #envoyer{
        width: 47%;
        margin-left: 80px;
    }
}

@media (max-width:336px){
    .ClassForm .image{
        width: 250px;
        margin-top: 20px;
        margin-right: 20px;
    }
    .ClassForm .SousForm .text{
        margin-left: 50px;
    }
    .ClassForm .SousForm form .P{
        margin-left: 40px;
    }
    .ClassForm .SousForm form .E{
        margin-left: 40px;
    }
    #password{
        transform: translateX(15px);
    }
    .ClassForm .SousForm form a{
        margin-left: 40px;
    }
    .ClassForm .SousForm form input{
        width: 43%;
    }
    .ClassForm .SousForm button{
        width: 42%;
        margin-left: 100px;
    }
    #envoyer{
        width: 44%;
        margin-left: 80px;
    }
}