* {
    font-family: "Exo";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgb(0, 0, 0) 100%), url('../../images/main-bg.png');
    background-size: 100% 1215px;
    background-repeat: no-repeat;
    background-color: black;
    
}
.container {
    padding: 20px;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Segoe UI', sans-serif;
    font-size: 15px;

}
.ClassForm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: max-content;
    padding: 20px;
    padding-right: 0;
    background-color: rgba(128, 128, 128, 0.71);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    flex-wrap: wrap;
}
.ClassForm .SousForm form{
    width: 350px;
    margin-left: 20px;
}
.ClassForm .SousForm form input{
    height: 30px;
    margin: 10px auto;
    border-radius: 4px;
    border: none;
    width: 80%;
    transition: 0.3s;
    padding: 0 5px;
}
.ClassForm .SousForm form input:hover{
    background-color: rgba(255, 255, 255, 0.685);
}
.ClassForm .SousForm .text{
    margin-bottom: 40px;
    position: absolute;
    bottom: 230px;
}
.ClassForm .image{
    height: 300px;
    width: 400px;
    margin-top: 30px;
    flex-shrink: 0;
}
.ClassForm .image .imageG{
    width: 100%;
    transform: translateX(-30PX);
    
}
label{
    display: block;
}
#envoyer{
    margin-left: 54px;
    margin-top: 20px;
    width: 63%;
    cursor: pointer;
    transition: 0.3s;
    background-color: white;
}
#envoyer:hover{
    background-color: black;
    color: white;
}
.ClassForm .SousForm{
    position: relative;
    margin-top: 60px;
    transform: translateX(30PX);
}
.ClassForm .SousForm form a{
    margin-top: 20px;
    color: rgb(13, 43, 77);
}

.ClassForm .SousForm button{
    cursor: pointer;
    border: none;
    text-align: center;
    height: 30px;
    padding-left: 5px;
    padding-right: 3px;
    justify-content: center;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 73px;
    width: 60%;
    transition: 0.3s;
}
.HR{
    margin-top: 10px;
}
@media (max-width:1016px) {
    .ClassForm .image{
        height: 500px;
        width: 350px;
        transform: translateY(50px);
    }
    hr{
        width: 100%;
    }
    .ClassForm{
        display: flex;
        justify-content: center;
        width: 80%;
        height: 100%;
        padding-top: 40px;
    }
    .ClassForm .SousForm{
        margin-top: 10px;
        transform: translateY(-70px);
        height: 200px;
    }
    .ClassForm .SousForm .text{
        margin-bottom: -25px;
    }
    .ClassForm .SousForm form input{
        height: 25px;
        width: 70%;
    }
    .ClassForm .SousForm button{
        height: 25px;
        width: 50%;
        margin-left: 87px;
    }
    #envoyer{
        margin-left: 68px;
        width: 53%;
    }
}

@media (max-width:980px) {
    .ClassForm .image{
        transform: translateY(25px);
    }
    .ClassForm .SousForm{
        transform: translateY(20px);
    }
}


@media (max-width:596px){
    #password{
        width: 50%;
    }
    #email{
        width: 50%;
    }
    hr{
        width: 50%;
        transform: translateX(80PX);
    }
    .ClassForm .SousForm .text{
        font-size: 13PX;
    }
}
@media (max-width:506px){
    .ClassForm .SousForm form a{
        margin-left: 30PX;
    }
    .ClassForm .SousForm .text{
        transform: translateX(40px);
    }
    .lp{
        transform: translateX(30PX);
    }
    #password{
        transform: translateX(30PX);
    }
    .le{
        transform: translateX(30PX);
    }
    #email{
        transform: translateX(30PX);
    }
    .ClassForm .image .imageG{
        width: 90%;
        transform: translateX(10PX);
    }
    .ClassForm .image{
        transform: translateY(30PX);
    }
}
@media (max-width:443px){
    .ClassForm .SousForm .text{
        font-size: 10px;
        transform: translateX(65px);
    }
    .ClassForm .image .imageG{
        width: 70%;
        transform: translateX(45PX);
    }
    .ClassForm .image{
        transform: translateY(60PX);
    }
    .lp{
        transform: translateX(60PX);
    }
    #password{
        transform: translateX(60PX);
        width: 40%;
    }
    .le{
        transform: translateX(60PX);
    }
    #email{
        transform: translateX(60PX);
        width: 40%;
    }
    .ClassForm .SousForm form a{
        margin-left: 60PX;
    }
}