* {
    font-family: "Exo";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgb(0, 0, 0) 100%), url('../../images/main-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 1215px;
    background-color: black;
}
form{
    background-color: rgba(128, 128, 128, 0.71);
    width: fit-content;
    padding: 34px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
    position: relative;
    height: 70%;
    width: 80%;
}
input{
    height: 35px;
    border: none;
    width: 60%;
    margin: 20px 0;
    padding: 0 5px;
    border-radius: 4px;
    transition: 0.3s;
}
input:hover{
    background-color: rgba(255, 255, 255, 0.685);
}

#envoyer{
    position: absolute;
    bottom: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 94%;
}
#envoyer:hover{
    background-color: black;
    color: white;
}

.ClassForm{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    flex-direction: column;
}
.form-row{
    width: 100%;
}
.Text{
    margin-right: 70%;
    margin-bottom: 10px;
    position: relative;
}
#telephone{
    transform: translateX(15px);
}
#email{
    transform: translateX(29px);
}
#prenom{
    transform: translateX(23px);
}
#nom{
    transform: translateX(31px);
}
#adresse{
    transform: translateX(19px);
}
#password{
    transform: translateX(15px);
}
#motpasseverif{
    transform: translateX(16px);
}

p{
    width: 200%;
}
@media (max-width:720px) {
    input{
        height: 30px;
        margin: 14px auto;
    }
}

@media (max-width:705px) {
    form{
        display: block;
        height: 90%;
    }
    input{
        margin: 10px auto;
    }
    #envoyer{
        position: relative;  
        margin-top: 50px; 
    }
}
