* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Exo', sans-serif;
}

body {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgb(0, 0, 0) 100%), url('../../images/main-bg.png');
	background-size: 100% 1215px;
  background-repeat: no-repeat;
  background-color: black; 
  color: whitesmoke;
  line-height: 1.5;
}

.container {
  	display: flex;
	overflow: hidden;
	/* background-color: red; */
	height: 100vh;
}

.main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	/* overflow: hidden; */
	background: #161616;
	width: 80%;
}

.content {
	overflow: hidden;
	flex-grow: 1;
	width: 100%;
	/* height: 100vh; */
	padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

/**************************************************************** sidebar *************/

/* Sidebare styles */
.sidebar {
	display: flex;
	flex-direction: column;
	width: 20%;
	height: 100vh;
	overflow: hidden;
	background: #000000;
	border-right: 1px solid whitesmoke;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	transition: all 0.3s ease;
}
.logo {
	padding: 15px;
	display: flex;
	flex-direction: column;
  	border-bottom: 1px solid rgb(79, 79, 79);
	align-items: center;
}
.logo-img {
	width: 65%;
	margin-bottom: 5px;
}
.logo span {
	font-size: 0.8rem;
	letter-spacing: 2px;
	color: rgb(208, 208, 208);
}

/* Navigation menu styles */
.nav-menu {
	padding: 0;
	flex-grow: 1;
}
.nav-menu ul {
	list-style: none;
	padding: 20px 0 10px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
.nav-menu li {
	padding: 0 20px;
  margin-bottom: 8px;
}
.nav-menu li a {
	display: flex;
	align-items: center;
	padding: 12px 15px;
	color: whitesmoke;
	border-radius: 8px;
	transition: all 0.3s ease;
}
.nav-menu li a i {
	margin-right: 12px;
	font-size: 1.2rem;
}
.nav-menu li a:hover {
	background-color: rgb(47, 46, 46);
}


/**************************************************************** header *************/
/* Dashboard header */
.header {
	display: flex;
	align-items: center;
	height: 70px;
	justify-content: space-between;
	padding: 0 20px;
	background: #000;
	border-bottom: 1px solid whitesmoke;
}

/* left side */
.search-container {
	position: relative;
	width: 300px;
}
.search-container i {
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);
	color: whitesmoke;
}
.search-container input {
	width: 100%;
	padding: 8px 8px 8px 30px;
	border: 1px solid whitesmoke;
	border-radius: 8px;
	color: whitesmoke;
	background: #000;
	font-size: 0.85rem;
	margin-left: 4px;
}

/* right side */
.header-right {
	display: flex;
	align-items: center;
}
.notification, .message {
	position: relative;
	margin-right: 25px;
	cursor: pointer;
}
.notification i, .message i {
	font-size: 1.2rem;
	color: whitesmoke;
}
.notification-count, .message-count {
	position: absolute;
	top: -8px;
	right: -8px;
	background-color: rgb(214, 3, 3);
	color: black;
	border: 2px black solid;
	border-radius: 50%;
	width: 18px;
	height: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10px;
	font-weight: bold;
}


.profil {
	display: flex;
	align-items: center;
}
.dropdown-toggle {
	display: flex;
	align-items: center;
}


/* Scrollbar personnalisée pour le tbody */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3);
}