

/* {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    background: #000;
    flex-direction: column;
} */

/* ====== CONTAINER FOR ALL CAR CARDS ====== */
.voitures-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    overflow: auto;
    width: 100%;
    gap: 50px 3%;
    flex-wrap: wrap;
    padding: 40px;
    padding-top: 15px;
    /* background-color: blue; */
}

/* ====== EACH CAR CARD ====== */
.voitures-content .car-card {
    background: #000;
    border: 1px solid white;
    color: #fff;
    border-radius: 20px;
    width: 350px;
    height: max-content;
    overflow: hidden;
}


/* Car image styling */
.voitures-content .car-card .car-image {
    width: 90%;
    height: 200px;
    border-radius: 10px;
    margin: 5%;
    /* object-fit: cover; */
}

/* Headings and paragraph inside card */
.voitures-content .car-card h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    margin: 0 0 0px 15px;
    text-align: start;
    min-height: 70px;
}

.voitures-content .car-card .price {
    font-size: 0.85rem;
    color: white;
    text-align: start;
    margin: 0 0 10px 15px;
}


/* ====== FEATURE ICONS (Seats, Diesel, Climatiseur) ====== */
.voitures-content .car-card .car-options {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap: 65px; */
    font-size: 0.75rem;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 5px 20px ;

}
.voitures-content .car-card .car-options .seat-option, .diesel-option, .climat-option {
    display: flex;
    /* width: 20px; */
    height: 20px;
    
}
.voitures-content .car-card .car-options .climat-option {
    display: flex;
    /* width: 33px; */
    height: 33px;
}
.voitures-content .car-card .car-options .seat-option span, .diesel-option span, .climat-option span{
    display: flex;
    white-space: nowrap;
    align-items: center;
    margin: 0 10%;
}

/* ====== Button d'ajout ====== */
#ajouter {
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 25px 5% 25px 0;
}
#ajouter button {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 1.5% 0px; */
    height: 40px;
    width: 140px;
    background: rgb(0, 0, 159);
    color: white;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 700;
    transition: 0.3s;
    cursor: pointer;
    letter-spacing: 0.5px;
}
#ajouter button i {
    margin-right: 10px;
}

#ajouter button:hover {
    background-color: rgb(1, 1, 206);
}

/* ====== Buttons de modification ====== */
.voitures-content .car-card .modification {
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
}

.voitures-content .car-card .modification button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2% 0px;
    height: 35px;
    width: 120px;
    /* background: red; */
    color: white;
    outline: none;
    border: none;
    border-radius: 30px;
    font-size: 0.9rem;
    font-weight: 500;
    transition: 0.3s;
    cursor: pointer;
    letter-spacing: 0.5px;
}