* {
    font-family: "Exo";
    margin: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
    background-size: 100% 1215px;
    background-repeat: no-repeat;
    background-color: black;
}

header iframe {
    width: 100%;
    overflow: hidden;
}

.map-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.map-iframe {
    width: 100%;
    height: 100%;
    border: none;
    filter: brightness(0.5) grayscale(0.5);
}

.contact-container {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    color: white;
}

.contact-form {
    background: black;
    position: absolute;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    z-index: 2;
    color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    top: 15%;
    right: 40px;
    max-width: 90%;
    border: 1px solid whitesmoke;
}

.contact-info {
    display: flex;
    flex-direction: column;
    background: black;
    position: absolute;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    z-index: 2;
    color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    height: 225px;
    top: 64%;
    right: 40px;
    max-width: 90%;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;
    border: 1px solid whitesmoke;
}
.contact-info:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }

.info {
    margin: 10px 0;
}
i {
    margin: 0 10px 0 15px;
}

.card-content {
    position: absolute;
    font-size: 1rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    background: #000;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    z-index: 2;
    color: whitesmoke;
    border-radius: 10px;
    line-height: 1.4;
}
.contact-info:hover .card-content {
    transform: rotateX(0deg);
}
.card-title {
    margin: auto auto;
    top: 50%;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

a {
    color: whitesmoke;
    text-decoration: none;
}


h2,h3 {
    margin-bottom: 15px;
}

form{
    display: flex;
    flex-direction: column;
}
.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}
.form-group1 {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.envoyer {
    /* background: #2b79c2; */
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    margin: 20px 0 0 0;
    width: 30%;
    background: transparent;
    outline: none;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    border-radius: 30px;
    font-size: 0.95rem;
    font-weight: 500;
    transition: 0.3s; 
}
.envoyer:hover {
    background: whitesmoke;
    color: black;
    box-shadow: 3px 2px 15px -5px rgb(255, 255, 255);
}
.envoyer:active {
    transform: translateY(1px);
    background: #d5d5d5;
}

/* width: auto;
    height: auto;
    padding: 10px 30px;
    background: transparent;
    outline: none;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    border-radius: 30px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 12px 12px;
    transition: 0.3s; */

button:hover {
    background: #1a5a99;
}

